<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogIt</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">BlogIt</h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="/posts">Posts</a></li>
                    <li class="nav__list-item"><a href="/authors">Authors</a></li>
                    <li class="nav__list-item"><a href="/categories">Categories</a></li>
                    <li class="nav__list-item"><a href="/tags">Tags</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <section class="author">
                    <h1 class="author__title" th:text="${authorAttribute.name}">Author Name</h1>
                    <ul class="author__posts-list" th:each="post: ${authorAttribute.posts}">
                        <li class="author__posts-list-item">
                            <a th:text="${post.title}" th:href="|/posts/${post.id}|">Post</a>
                        </li>
                    </ul>
                </section>
                <a class="return" href="/authors">Back to authors list</a>
            </div> <!-- end of container -->
        </main>
        <footer class="footer">
            <small class="footer__text">&copy; 2019 Andrew Zhang</small>
        </footer>
    </div> <!-- end of wrapper -->
</body>

</html>