<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors View</title>
</head>

<body>
    <form action="/authors/add" method="POST">
        <label>Author's name:
            <input type="text" name="name" placeholder="author to add" required>
        </label>
        <button type="submit">Submit</button>
    </form>
    <h1>Authors List</h1>
    <ul th:each="author: ${authorsAttribute}">
        <li><a th:text="${author.name}" th:href="|/authors/${author.id}|">author
                section</a>
        </li>
    </ul>
</body>

</html>