<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogIt</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">BlogIt</h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="/posts">Posts</a></li>
                    <li class="nav__list-item"><a href="/authors">Authors</a></li>
                    <li class="nav__list-item"><a href="/categories">Categories</a></li>
                    <li class="nav__list-item"><a href="/tags">Tags</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <section class="tags">
                    <h1 class="tags__title">Tags List</h1>
                    <ul class="tags__list" th:each="tag: ${blogTagsAttribute}">
                        <li class="tags__list-item"><a th:text="${tag.name}" th:href="|/tags/${tag.id}|">tags
                                section</a>
                        </li>
                    </ul>
                </section>
                <section class="form-container">
                    <form class="form" action="/tags/add" method="POST">
                        <h2 class="form__title">Create a new tag:</h2>
                        <br>
                        <label class="form__label">Create a Tag:
                            <input class="form__input" type="text" name="name" placeholder="create a tag" required>
                        </label>
                        <button class="form__submit" type="submit">Submit</button>
                    </form>
                </section>
            </div> <!-- end of container -->
        </main>
        <footer class="footer">
            <small class="footer__text">&copy; 2019 Andrew Zhang</small>
        </footer>
    </div> <!-- end of wrapper -->
</body>

</html>