<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogIt</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">BlogIt</h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="./postsTemplate.html">Posts</a></li>
                    <li class="nav__list-item"><a href="./authorsTemplate.html">Authors</a></li>
                    <li class="nav__list-item"><a href="./categoriesTemplate.html">Categories</a></li>
                    <li class="nav__list-item"><a href="./blogTagsTemplate.html">Tags</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <form class="tags-form" action="/tags/add" method="POST">
                    <label class="tags-form__label">Tag name:
                        <input class="tags-form__input" type="text" name="name" placeholder="create a tag" required>
                    </label>
                    <button class="tags-form__button" type="submit">Submit</button>
                </form>
                <section class="tags">
                    <h1 class="tags__title">Tags List</h1>
                    <ul class="tags__list" th:each="tag: ${blogTagsAttribute}">
                        <li class="tags__list-item"><a th:text="${tag.name}" th:href="|/tags/${tag.id}|">tags
                                section</a>
                        </li>
                    </ul>
                </section>
            </div> <!-- end of container -->
        </main>
        <footer class="footer">
            <small class="footer__text">&copy; 2019 Andrew Zhang</small>
        </footer>
    </div> <!-- end of wrapper -->
</body>

</html>