<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>

<body>
    <form action="/categories/add" method="POST">
        <label>Category:
            <input type="text" name="name" placeholder="create category type" required>
            <button type="submit">Submit</button>
        </label>
    </form>
    <h1>Categories List</h1>
    <ul th:each="category: ${categoriesAttribute}">
        <li><a th:text="${category.name}" th:href="|/categories/${category.id}|">category section</a></li>
    </ul>
</body>

</html>