<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category View</title>
</head>

<body>
    <h1 th:text="${categoryAttribute.name}">Category</h1>

    <ul th:each="post: ${categoryAttribute.posts}">
        <li>
            <a th:text="${post.title}" th:href="|/posts/${post.id}|">Post</a>
        </li>
    </ul>

    <a href="/categories">Back to categories list</a>
</body>

</html>