<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts View</title>
</head>

<body>
    <form action="/posts/add" method="POST">
        <label>Post title:
            <input type="text" name="title" placeholder="name of post" required>
        </label>
        <label>Author's name:
            <select name="author" required>
                <option selected></option>
                <option th:each="post: ${postsAttribute}" th:value="${post.author.name}"><span
                        th:text=${post.author.name}>Author</span>
                </option>
            </select>
        </label>
        <label>Category type:
            <select name="category" required>
                <option selected></option>
                <option value="category1">category1</option>
                <option value="category2">category2</option>
                <option value="category3">category3</option>
            </select>
        </label>
        <label>Tags:
            <select name="blogTag" required>
                <option selected></option>
                <option value="Marvel">Marvel</option>
                <option value="Super Heroes">Super Heroes</option>
                <option value="Heroes">Heroes</option>
            </select>
        </label>
        <label>Content:
            <textarea name="content" cols="40" rows="10" maxlength="1000" required></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
    <h1>Posts List</h1>
    <ul th:each="post: ${postsAttribute}">
        <li><a th:text="${post.title}" th:href="|/posts/${post.id}|">post section</a>
        </li>
    </ul>
</body>

</html>