<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogIt</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1 class="main-header__title">BlogIt</h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="./postsTemplate.html">Posts</a></li>
                    <li class="nav__list-item"><a href="./authorsTemplate.html">Authors</a></li>
                    <li class="nav__list-item"><a href="./categoriesTemplate.html">Categories</a></li>
                    <li class="nav__list-item"><a href="./blogTagsTemplate.html">Tags</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <form class="posts-form" action="/posts/add" method="POST">
                    <label class="posts-form__label">Post title:
                        <input class="posts-form__input" type="text" name="title" placeholder="name of post" required>
                    </label>
                    <label class="posts-form__label">Author's name:
                        <select class="posts-form__select" name="author" required>
                            <option selected></option>
                            <option th:each="author: ${authorsAttribute}" th:value="${author.name}"
                                th:text=${author.name}>
                                Author</option>
                        </select>
                    </label>
                    <label class="posts-form__label">Category type:
                        <select class="posts-form__select" name="category" required>
                            <option selected></option>
                            <option th:each="category: ${categoriesAttribute}" th:value="${category.name}"
                                th:text="${category.name}">Category</option>
                        </select>
                    </label>
                    <label class="posts-form__label">Tags:
                        <select class="posts-form__select" name="blogTag" required>
                            <option selected></option>
                            <option th:each="blogTag: ${blogTagsAttribute}" th:value="${blogTag.name}"
                                th:text="${blogTag.name}">
                                BlogTag</option>
                        </select>
                    </label>
                    <label class="posts-form__subtitle">Content:
                        <textarea class="posts-form__input" name="content" cols="40" rows="10" maxlength="1000"
                            required></textarea>
                    </label>
                    <button class="posts-form__submit" type="submit">Submit</button>
                </form>
                <section class="posts">
                    <h1 class="posts__title">Posts List</h1>
                    <ul class="posts__list" th:each="post: ${postsAttribute}">
                        <li class="posts__list-item"><a th:text="${post.title}" th:href="|/posts/${post.id}|">post
                                section</a>
                        </li>
                    </ul>
                </section>
            </div> <!-- end of container -->
        </main>
        <footer class="footer">
            <small class="footer__text">&copy; 2019 Andrew Zhang</small>
        </footer>
    </div> <!-- end of wrapper -->
</body>

</html>